body {
  background-color: #ffd523;

  font-family: "Josefin Sans", sans-serif;
  color: black;
}

.highlight {
  font-weight: bold;
  color: white;
  text-shadow: 0.05em 0.05em 0 hsl(235, 21%, 22%);
}

#content {
  width: 100vw;
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-behavior: smooth;
}

.banner, .showreel {
  height: 100vh;
  width: 1024px;
  flex-shrink: 0;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.banner span {
  font-size: 48px;
  padding-bottom: 32px;
}

.banner h1 {
  padding-bottom: 32px;
  font-size: 128px;
}

.banner h2, .showreel h2 {
  font-size: 32px;
}

.member {
  width: 1024px;
  height: 100vh;
  scroll-snap-align: start;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.profile {
  margin-top: 192px;
}

.profile img {
  width: 512px;
}

.profile .name {
  position: relative;
  bottom: 64px;
  left: 300px;

  font-size: 128px;
}

.profile p {
  font-size: 40px;
}

.contact {
  height: 100vh;
  width: 1024px;
  flex-shrink: 0;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.contact h1 {
  font-size: 32px;
}

.contact a {
  font-size: 64px;
}
