body {
  background-color: rgb(13, 19, 35);

  font-family: "Josefin Sans", sans-serif;
  color: white;
}

.highlight {
    color: #FFD523;
}

#content {
  width: 100vw;
  height: 100vh;
  scroll-snap-type: y mandatory;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-behavior: smooth;
}

.banner {
    height: 100vh;
    width: 1024px;
    flex-shrink: 0;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.banner span {
    font-size: 48px;
    padding-bottom: 32px;
}

.banner h1 {
    padding-bottom: 32px;
    font-size: 128px;
}

.banner h2 {
    font-size: 32px;
}

.member {
  width: 1024px;
  height: 100vh;
  scroll-snap-align: start;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.profile {
    margin-top: 192px;
}

.profile img {
  width: 512px;
}

.profile .name {
    position: relative;
    bottom: 64px;
    left: 307px;

    font-size: 128px;
} 


.profile p {
    font-size: 40px;
}

.contact {
    height: 100vh;
    width: 1024px;
    flex-shrink: 0;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.contact h1 {
    font-size: 32px;
}

.contact a {
    font-size: 64px;
}